body {
    background-color: plum;
    color: white;
    font-size: 36px;
    font-family: Arial;
}
.favoriteTvShow {font-family: Arial;
    color: green;}

    img {
        padding: 0 0 0 300px;
        position: relative;
        width: 50%;
        margin-left: 5%;
        margin-bottom: 10px;
        }
